:root {
  --primary-accent-color: #14b8a6;
  --secondary-accent-color: #147d71;
  --primary-background-color: #f9f3ee;
  --secondary-background-color: #ededed;
  --primary-text-color: #000000;
  --icon-color: #000000;
  --footer-and-header-color: #ededed;
  --secondary-text-color: #484848;
  --input-background: #ffffff;
  --danger-color: #ef5350;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --dark-color: #343a40;
}

.darkmode {
  --primary-background-color: #0f172a;
  --secondary-background-color: #1e293b;
  --primary-text-color: #ffffff;
  --icon-color: #cbd5e1;
  --footer-and-header-color: #1e293b;
  --secondary-text-color: #dedede;
  --input-background: #0f172a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.d-none {
  display: none !important;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.p-1 {
  padding: 10px;
}

.text-center {
  text-align: center;
}

.heart-icon {
  color: #ff146a;
}

body {
  background-color: var(--primary-background-color);
}

.header {
  margin: auto 0;
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@media (max-width: 1200px) {
  .header {
    padding: 10px 16px 10px 16px;
  }
}
.header .header-item {
  padding: 16px 0 16px 0;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .header .header-item .header-title {
    padding-top: 5px;
    font-size: 1.5em !important;
  }
}
.header .header-item .darkmode-button {
  background-color: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 30px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .header .header-item .darkmode-button {
    font-size: 1.6em !important;
  }
}
.header .header-item .darkmode-button .fa-moon {
  color: var(--dark-color);
}
.header .header-item .darkmode-button .fa-sun {
  color: var(--warning-color);
}

.footer {
  margin-top: 25px;
  padding: 20px;
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  line-height: 25px;
}
.footer a {
  color: var(--primary-text-color);
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  main {
    padding: 16px;
  }
}

.card {
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  max-width: 1200px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card .card-secondary {
  background-color: var(--primary-background-color);
  border-radius: 4px;
  max-width: 1200px;
}
.card .card-secondary .card-body {
  padding: 15px 25px 25px 25px !important;
  line-height: 27px;
}
.card .card-secondary .card-body {
  padding: 9px 25px 25px 25px;
  color: var(--secondary-text-color);
}
.card .card-header {
  padding: 15px 20px 0px 20px;
  color: var(--primary-text-color);
  padding-bottom: 10px;
  border-bottom: 3px solid var(--secondary-text-color);
}
.card .card-body {
  padding: 9px 25px 25px 25px;
  color: var(--secondary-text-color);
}
.card .card-footer {
  padding: 0px 25px 0px 25px;
  border-top: 1px solid var(--secondary-text-color);
  display: flex;
  flex-direction: row-reverse;
}

.form-group {
  position: relative;
  margin: 32px 0 5px 0;
}
.form-group .form-check {
  margin-top: 20px;
}
.form-group .form-control {
  border: 0;
  border-radius: 3px;
  border-bottom: 2.5px solid var(--secondary-background-color);
  background-color: var(--input-background);
  outline: none;
  box-sizing: border-box;
  padding: 10px;
  color: var(--secondary-text-color);
  width: 100%;
  height: 3rem;
  font-size: 1rem;
}
.form-group .form-control:valid {
  border-bottom: 2.5px solid var(--primary-accent-color);
}
.form-group .form-control:valid + .form-label {
  color: var(--primary-accent-color);
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0px;
  top: -35px;
}
.form-group .form-control:invalid:not(:-moz-placeholder-shown) {
  border-bottom: 2.5px solid var(--danger-color);
}
.form-group .form-control:invalid:not(:placeholder-shown) {
  border-bottom: 2.5px solid var(--danger-color);
}
.form-group .form-control:invalid:not(:-moz-placeholder-shown) + .form-label {
  color: var(--danger-color);
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0px;
  top: -35px;
}
.form-group .form-control:invalid:not(:placeholder-shown) + .form-label {
  color: var(--danger-color);
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0px;
  top: -35px;
}
.form-group .form-control:focus {
  transition: border-bottom 700ms ease;
  border-bottom: 2.5px solid var(--primary-accent-color);
}
.form-group .form-control:focus + .form-label {
  color: var(--primary-accent-color);
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0px;
  top: -35px;
}
.form-group .form-label {
  top: 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 2rem;
  cursor: text;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  color: var(--placeholder-text-color);
  width: 100%;
  height: 3rem;
  font-size: 1rem;
}

.btn {
  position: relative;
  padding: 0;
  overflow: hidden;
  padding: 10px 20px;
  border-width: 0;
  outline: none;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  background-color: var(--primary-accent-color);
  color: #ffffff;
  transition: background-color 0.3s;
}
.btn > * {
  position: relative;
}
.btn:hover, .btn:focus {
  background-color: var(--secondary-accent-color);
}
.btn span {
  display: block;
  padding: 12px 24px;
}
.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  transform: translate(-50%, -50%);
}
.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.btn-danger {
  background-color: var(--danger-color);
}
.btn-danger:hover, .btn-danger:focus {
  background-color: #c40a0a;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 2fr);
}
@media (max-width: 767.98px) {
  .row {
    grid-template-columns: repeat(1, 2fr);
  }
}

.btn-icon {
  font-size: 20px;
  background-color: transparent;
  color: var(--primary-text-color);
  outline: none;
  overflow: hidden;
  cursor: pointer;
  border-width: 0;
  transition: color 100ms;
}
.btn-icon.btn-trash:hover {
  color: #f44336 !important;
}
.btn-icon.btn-double-checked:hover {
  color: var(--success-color) !important;
}
.btn-icon.btn-checked:hover {
  color: var(--primary-accent-color) !important;
}
.btn-icon.btn-edit:hover {
  color: var(--warning-color) !important;
}/*# sourceMappingURL=style.css.map */